{{ 'cintillo-text-3.css' | asset_url | stylesheet_tag }}
<div class="container-fluid cinta-circle">
  <div class="two-column">
    <div class="unline-content">
      <div class="text-cint">
        <div class="title-cinta">¿POR QUÉ EL CERDO PELÓN MEXICANO ES IDEAL PARA TU COCINA?</p>
        <div class="text-cinta">Ofrecemos un producto muy útil en la preparación de platillos de alta cocina gracias a sus increíbles cualidades que le da un sabor intenso y muy valorado.</p>
      </div>
    </div>
    <div class="image-cicle">
      <div class="img-text">
        <img class="img-fluid" src="{{ "carne.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Alto marmoleo de grasa</i></t>
      </div>
      <div class="line"></div>
      <div class="img-text">
        <img class="img-fluid" src="{{ "proteina.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Alto contenido proteico</i></t>
      </div>
      <div class="line"></div>
      <div class="img-text">
        <img class="img-fluid" src="{{ "carnes-rojas.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Menor nivel de mioglobina que las carnes rojas</i></t>
      </div>
      <div class="line"></div>
      <div class="img-text">
        <img class="img-fluid" src="{{ "cubiertos.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Sabor único y espectacular</i></t>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cintillo text-3-cicle",
  "class": "cintillo-marquee",
  "settings": [ ],
  "presets": [ { "name": "Cintillo text-3-cicle", "category": "Publicity" } ] }
{% endschema %}
