{{ 'cintillo-text-3.scss.css' | asset_url | stylesheet_tag }}
<div class="container-fluid cinta-circle">
  <div class="two-column">
    <div class="unline-content">
      <div class="text-cint">
        <c>¿Por qué el</c><br>
        <t>CERDO PELÓN MEXICANO</t><br>
        <c>es ideal para tu cocina?</c><br>
        <te
          >Ofrecemos un producto muy útil en la preparación de platillos de 
          alta cocina gracias a sus increíbles cualidades que le da un sabor intenso y muy valorado.</te
        >
      </div>
    </div>
    <div class="image-cicle">
      <div class="img-text">
        <img class="img-fluid" src="{{ "star.png" | asset_url }}" alt="Logotipo nauma" loading="lazy">
        <t><i>Raza 100% mexicana, de la más alta calidad gastronómica.</i></t>
      </div>
      <div class="line"></div>
      <div class="img-text">
        <img class="img-fluid" src="{{ "avocado.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Raza 100% mexicana, de la más alta calidad gastronómica.</i></t>
      </div>
      <div class="line"></div>
      <div class="img-text">
        <img class="img-fluid" src="{{ "meat.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Del campo a su mesa, fundado desde 2017.</i></t>
      </div>
      <div class="line"></div>
      <div class="img-text">
        <img class="img-fluid" src="{{ "cubiertos.png" | asset_url }}" alt="" loading="lazy">
        <t><i>Sabor único y espectacular</i></t>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cintillo text-3-cicle",
  "class": "cintillo-marquee",
  "settings": [ ],
  "presets": [ { "name": "Cintillo text-3-cicle", "category": "Publicity" } ] }
{% endschema %}
