{{ 'col-slider.css' | asset_url | stylesheet_tag }}
<div id="product-popup" class="product-info-popup">
  <div class="product-image-container">
    <img
      src="https://cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif"
      alt="product-image"
      class="product-image"
    >
    <div class="btn-contactar-vendedor-container">
      <a href="#globo-formbuilder-89615" class="btn-contactar-vendedor">CONTACTAR VENDEDOR</a>
    </div>
  </div>
  <div class="product-info-container">
    <div class="product-info-top">
      <h1 class="product-title">LOMO 10KG</h1>
      <button id="btn-close">
        <img src="{{ "Grupo 272.svg" | asset_url}}">
      </button>
    </div>
    <div class="product-info"></div>
  </div>
</div>
<div class="collection-labels">
  {% for block in section.blocks %}
    {% assign collection = block.settings.collection %}
    <input
      type="radio"
      id="{{ collection.title }}"
      name="collection"
      value="{{ collection.title }}"
      style="display:none;"
      {% if forloop.first %}
        checked
      {% endif %}
      onChange="filterProduct()"
    >
    <label class="collection-label" for="{{ collection.title }}">{{ collection.title }}</label>
  {% endfor %}
</div>
<div class="dawn-product-slider mx-auto">
  {% for block in section.blocks %}
    {% assign collection = block.settings.collection %}
    {%- for product in collections[block.settings.collection].products -%}
      <div class="carousel-cell" collection="{{ collection.title }}">
        <div class="card-top">
          <img
            class="product-image"
            src="{{ product.featured_image.src | img_url: "large" }}"
            alt="{{ product.featured_image.alt | escape }}"
          >
          <button class="btn-ver-detalle" title="{{ product.title }}" onClick="showPopup(this)">ver detalle</button>
        </div>
        <div class="card-bottom">
          <div class="product-name-container">
            <p class="product-name">{{ product.title }}</p>
          </div>
          <div class="btn-contactar-vendedor-container">
            <a href="#globo-formbuilder-89615" class="btn-contactar-vendedor">CONTACTAR VENDEDOR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
{{ 'col-slider.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Collection slider",
  "settings": [
    {
      "type": "range",
      "id": "navigation_amount",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Change the number of cards in view"
    },
    {
      "type": "color",
      "id": "navigation_color",
      "label": "Change color of the pagination|navigation|scrollbar"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collection slider",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Collection slider",
      "label": "t:sections.featured-collection.settings.subtitle.label"
    }
  ] ,
  "blocks": [
    {
       "type": "collection",
       "name": "Collection",
       "settings": [
          {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
          }

       ]
    }
 ],
  "presets": [
    {
      "name": "Collection slider",
      "category":"Custom"
    }
  ]
}
{% endschema %}
