{{ 'col-slider.css' | asset_url | stylesheet_tag }}
<div class="collection-labels">
  {% for block in section.blocks %}
    {% assign collection = block.settings.collection %}
    <input
      type="radio"
      id="{{ collection.title }}"
      name="collection"
      value="{{ collection.title }}"
      style="display:none;"
      {% if forloop.first %}
        checked
      {% endif %}
      onChange="filterProduct()"
    >
    <label class="collection-label" for="{{ collection.title }}">{{ collection.title }}</label>
  {% endfor %}
</div>
<div class="dawn-product-slider mx-auto">
  {% for block in section.blocks %}
    {% assign collection = block.settings.collection %}
    {%- for product in collections[block.settings.collection].products -%}
      <div class="carousel-cell" collection="{{ collection.title }}">
        <div class="card-top">
          <button class="btn-ver-detalle">ver detalle</button>
          <img
            class="product-image"
            src="{{ product.featured_image.src | img_url: "large" }}"
            alt="{{ product.featured_image.alt | escape }}"
          >
        </div>
        <div class="card-bottom">
          <div class="product-name">
            <h5 class="card-title">{{ product.title }}</h5>
          </div>
          <div class="btn-contactar-vendedor-container">
            <a href="#globo-formbuilder-89615" class="btn-contactar-vendedor">CONTACTAR VENDEDOR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
{{ 'col-slider.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Collection slider",
  "settings": [
    {
      "type": "range",
      "id": "navigation_amount",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Change the number of cards in view"
    },
    {
      "type": "color",
      "id": "navigation_color",
      "label": "Change color of the pagination|navigation|scrollbar"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collection slider",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Collection slider",
      "label": "t:sections.featured-collection.settings.subtitle.label"
    }
  ] ,
  "blocks": [
    {
       "type": "collection",
       "name": "Collection",
       "settings": [
          {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
          }

       ]
    }
 ],
  "presets": [
    {
      "name": "Collection slider",
      "category":"Custom"
    }
  ]
}
{% endschema %}
