{{ 'footer-social-media.css' | asset_url | stylesheet_tag }}
<div
  class="container-fluid foo"
>
  <div class="content-top">
    <div class="content-get spac">
      <p class="stay-connected-cursive">Get updates &</p>
      <p class="stay-connected-juni">STAY CONNECTED</p>
      <input type="email" placeholder="Escribe tu e-mail" size="11" required>
      <br class="d-block d-sm-block d-md-none">
      <button
        class="stay-connected-send"
        type="button"
        onClick="document.querySelector('input[type=&quot;email&quot;]').value = ''"
      >
        ENVIAR
      </button>
    </div>
    <div class="content-his spac">
      <div class="column">
        <a class="stay-connected-link" href="{{ section.settings.ne }}"><b>NUESTRA HISTORIA</b></a>
        <a class="stay-connected-link" href="{{ section.settings.jo }}"><b>JOURNAL</b></a>
        <a class="stay-connected-link" href="{{ section.settings.en }}"><b>ENCUENTRANOS</b></a>
      </div>
      <div class="column">
        <a class="stay-connected-link" href="{{ section.settings.te }}"><b>TÉRMINOS Y CONDICIONES</b></a>
        <a class="stay-connected-link" href="{{ section.settings.pr }}"><b>PREGUNTAS FRECUENTES</b></a>
        <a class="stay-connected-link" href="{{ section.settings.fa }}"><b>FACTURACIÓN</b></a>
      </div>
    </div>
  </div>

  <div class="bottom-link">
    <div class="social-media-links">
      <a class="social-media-link" href="{{ section.settings.email }}">EMAIL</a>
      <a class="social-media-link" href="{{ section.settings.instagram }}">INSTAGRAM</a>
      <a class="social-media-link" href="{{ section.settings.youtube }}">YOUTUBE</a>
      <a class="social-media-link" href="{{ section.settings.linkedin }}">LINKEDIN</a>
    </div>
    <img class="d-none d-sm-none d-md-block logo-2-blanco" src="{{ 'Grupo 139.png' | asset_url }}">
    <a href="{{ section.settings.undertk }}" class="social-media-link"
      >COPYRIGHT © 2022 UNDETK STUDIO. ALL RIGHTS RESERVED.</a
    >
  </div>
  <div class="bottom-link-mobile">
    <div class="image-wrapper">
      <img src="{{ 'Grupo 139.png' | asset_img_url }}" alt="logo cerdo pelón" class="logo-blanco-mobile">
    </div>
    <div class="social-media-links">
      <a class="social-media-link" href="{{ section.settings.email }}">EMAIL</a>
      <a class="social-media-link" href="{{ section.settings.instagram }}">INSTAGRAM</a>
      <a class="social-media-link" href="{{ section.settings.youtube }}">YOUTUBE</a>
      <a class="social-media-link" href="{{ section.settings.linkedin }}">LINKEDIN</a>
    </div>
    <div class="copyright-wrapper">
      <a href="{{ section.settings.undertk }}" class="social-media-link"
        >COPYRIGHT © 2022 UNDETK STUDIO. ALL RIGHTS RESERVED.</a
      >
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "footer-social-media",
    "class": "footer",
    "settings":
    [
        {
"type": "header",
"content": "===== Imagen de Fondo ======"
},
       {
          "type": "image_picker",
          "id": "background-footer",
          "label": "Imagen Fondo"
        },
        {
"type": "header",
"content": "===== Datos Web ======"
},
   {
    "type": "url",
    "id": "ne",
    "label": "NUESTRA HISTORIA"
  },
  {
    "type": "url",
    "id": "jo",
    "label": "JOURNAL"
  },
  {
    "type": "url",
    "id": "en",
    "label": "ENCUENTRANOS"
  },
  {
    "type": "url",
    "id": "te",
    "label": "TÉRMINOS Y CONDICIONES"
  },
  {
    "type": "url",
    "id": "pr",
    "label": "PREGUNTAS FRECUENTES"
  },
  {
    "type": "url",
    "id": "fa",
    "label": "FACTURACIÓN"
  },
        {
"type": "header",
"content": "===== Datos botton ======"
},
       {
          "type": "url",
          "id": "email",
          "label": "EMAIL"
        },
       {
          "type": "url",
          "id": "instagram",
          "label": "INSTAGRAM"
        },
       {
          "type": "url",
          "id": "youtube",
          "label": "YOUTUBE"
        },
       {
          "type": "url",
          "id": "linkedin",
          "label": "LINKEDIN"
        },
       {
          "type": "url",
          "id": "undertk",
          "label": "UNDERTK"
        }
    ],
    "presets":
    [
      {
        "name": "footer-social-media",
        "category": "form"
      }
    ]
  }
{% endschema %}
