{{ 'main-revolving-text.css' | asset_url | stylesheet_tag }}
<div class="container-fluid">
  <div class="row box-cintillo-loop">
    <hr>
    <marquee behavior="alternate" style="color:{{ section.settings.color_text }} ">
      <span class="cursive">{{ section.settings.cursive }}&nbsp</span>
      <span class="plain-text">{{ section.settings.plain_text }}&nbsp</span>
      <span class="cursive">{{ section.settings.cursive }}&nbsp</span>
      <span class="plain-text">{{ section.settings.plain_text }}&nbsp</span>
    </marquee>
    <hr>
  </div>
</div>

{% schema %}
{
"name": "main-revolving-text",
"class": "cintillo-marquee",
  "settings": [
   {
      "type": "text",
      "id": "cursive",
      "label": "Heading",
      "default": " EL CERDO PELÓN MEXICANO TIENE SU ORIGEN EN 1492  "
    },
 {
      "type": "text",
      "id": "plain_text",
      "label": "Heading",
      "default": " EL CERDO PELÓN MEXICANO TIENE SU ORIGEN EN 1492  "
    },
{
      "type": "color",
      "id": "color_text",
      "label": "Color marquee",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "main-revolving-text",
      "category": "Publicity"
    }
  ]
}
{% endschema %}
