{{ 'texto-enriquecido-2-col.css' | asset_url | stylesheet_tag }}
<div class="row rich-txt-row">
  <div class="column col-titles">
    <div class="rich-txt-title">{{ section.settings.title }}</div>
    <div class="rich-txt-subtitle">{{ section.settings.subtitle }}</div>
  </div>
  <div class="column">
    <div class="rich-txt-secondSubtitle">{{ section.settings.secondSubtitle }}</div>
    <div class="rich-txt-normal">{{ section.settings.txt }}</div>
    <div><a href="https://cerdopelon.com/pages/nosotros" class="button-nosotros">CONOCER MÁS</a></div>
  </div>
</div>
{% schema %}
  {
    "name": "texto-enriquecido-2-col",
    "settings": [
       {
        "type": "text",
        "id": "title",
        "label": "titulo",
        "default": "CERDO PELÓN MEXICANO."
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "subtitulo",
        "default": "Una especie única en la gastronomía nacional."
      },
      {
        "type": "text",
        "id": "secondSubtitle",
        "label": "Segundo Subtitulo",
        "default": "El paraíso secreto de los cerdos pelones"
      },
      {
        "type": "text",
        "id": "txt",
        "label": "Texto",
        "default": "La mayoría de los especímenes de cerdo pelón no tiene pelo en el cuerpo y su piel es color gris oscuro, tersa y mate. Por supuesto, también pensamos en el cerdo blanco convencional, pero las diferencias son evidentes: esta especie lampiña tiene trompa más larga, orejas semirrectas, ancas caídas y pezuñas oscuras."
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "url"
      }
    ],
    "presets": [
    {
      "name": "texto-enriquecido-2-col"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}